/*기본적인 세팅*/
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

ul,
li,
ol {
    list-style: none;
}

img {
    border: 0;
}

#alwaysDis {
    width: auto;
    height: 50px;
    overflow: hidden;
    position: fixed;
    left: 85%;
    bottom: 30px;
    z-index: 999;
}

#alwaysDis > li {
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
}

#alwaysDis img {
    width: 100%;
    height: auto;
}

/*화면 해상도 1200px까지 레이아웃*/
@media all and (max-width:1920px) and (min-width:1210px) {
    .wrap {
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }

    /* 네비바*/
    header {
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 999;
        background-color: rgba(255, 255, 255, 1);
    }

    nav {
        width: 100%;
        height: 80px;
        float: left;
    }

    #logo {
        width: 200px;
        height: auto;
        float: left;
    }

    #logo > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #nav {
        overflow: hidden;
        height: 60px;
        float: left;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #nav > li {
        width: auto;
        height: 100%;
        float: left;
        line-height: 60px;
        position: relative;
        margin-right: 25px;
    }

    #nav > li:last-child {
        margin: 0;
    }

    #nav > li::after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        top: 90%;
        left: 0;
        transition-duration: 0.5s;
        background-color: #33ff33;
    }

    #nav > li:hover::after {
        width: 100%;
    }

    #nav > li > a {
        display: block;
        font-size: 24px;
        text-align: center;
    }

    /*문의하기 작성하기*/
    #form {
        width: 100%;
        height: 210px;
        position: fixed;
        z-index: 99;
        top: 80px;
        /*차후에 fixed*/
        display: none;
        background-color: #efefef;
        padding: 30px 30px;
        box-sizing: border-box;
    }

    #form form {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    #close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        background-color: #333;
        color: white;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        font-size: 20px;
    }

    #titWrap {
        width: 100%;
        height: auto;
        float: left;
        margin-bottom: 15px;
    }

    #titWrap > .tit {
        width: auto;
        float: left;
        height: auto;
        font-size: 24px;
        font-weight: 500;
    }

    #formWrap {
        width: 80%;
        height: 80px;
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #formWrap > li {
        align-items: center;
        justify-content: space-between;
    }

    #formWrap > li:first-child {
        width: 300px;
    }

    #formWrap > li:last-child {
        width: 600px;
    }

    #formWrap input {
        border: 1px solid #efefef;
        height: 30px;
        width: 45%;
    }

    #leftForm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #leftForm > input:first-child {
        width: 100%;
    }

    #rightForm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #rightForm > input {
        width: 23%;
        flex-basis: 1;
    }

    #rightForm > input:nth-child(5),
    #rightForm > input:nth-child(6) {
        width: 48%;
    }

    #submit {
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        height: 80px;
        float: left;
        margin-left: 30px;
        background-color: #05cd82;
        color: #efefef;
        border: 0;
        font-size: 18px;
    }


    /*배너*/
    #ban {
        margin-top: 80px;
        height: 80vh;
    }

    /*세로길이 전체 배너 1*/
    #mask.one {
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }

    /*세로길이 절반 배너2*/
    #mask {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }

    #banWrap {
        width: 400%;
        height: auto;
        float: left;
        position: relative;
        top: 0;
        left: 0;
    }

    #banWrap::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #333;
        opacity: 0.3;
        left: 0;
    }

    #banWrap > li {
        width: 25%;
        height: 100%;
        float: left;
    }

    /*세로길이 전체 배너 1*/
    #banWrap.one > li > img {
        width: 100%;
        height: auto;
        float: left;
        transform: translate(0)
    }

    /*세로길이 절반 배너 2*/
    #banWrap > li > img {
        width: 100%;
        height: auto;
        float: left;
        /*transform: translateY(-30%);*/
    }

    #maskMark {
        width: 100%;
        height: auto;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    .banTitle {
        font-size: 50px;
        text-align: center;
        color: white;
        height: 70px;
        line-height: 70px;
        font-weight: 600;
        position: absolute;
        font-weight: 500;
        text-shadow: 1px 1px 1px #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -280px);
    }

    .banTitle > span {
        color: aquamarine;
    }

    /*세로 길이 전체 배너1*/
    #maskMark.one > img {
        width: 85%;
        height: auto;
        float: left;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*세로 길이 절반 배너2*/
    #maskMark > img {
        width: 1000px;
        height: auto;
        float: left;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #butWrap {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    #b_left {
        position: absolute;
        left: 10px;
    }

    #b_right {
        position: absolute;
        right: 10px;
    }

    .banBut {
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }


    /*자기소개*/
    #scroll {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 99;
    }

    #scroll > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #introduce {
        position: relative;
        background-color: #222;
    }

    #intMid {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 80px;
    }

    #intMid > li.intI {
        width: 570px;
    }

    #intMid > li {
        width: 630px;
        height: 600px;
        float: left;
        margin-top: 30px;
        position: relative;
    }

    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
        top: -65px;
        left: 55px;
    }

    .intImg {
        width: 66%;
        height: 75%;
        position: absolute;
        border: 10px solid #05cc82;
        left: 60px;
        top: 120px;
        box-sizing: border-box;
    }

    .intTe {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 125px;
    }

    .intTe > li {
        width: 100%;
        border: 1px solid black;
        height: 50px;
    }

    .intTe * {
        color: #efefef;
        text-align: left;
    }

    .intTe h3.title {
        width: 100%;
        height: auto;
        float: left;
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        position: relative;
    }

    .intTe h3.title::after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: aqua;
        position: absolute;
        top: 50px;
        left: 0;
    }

    /*부릉이란 그래프*/
    #topGraph {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        margin-top: 30px;
        /* align-items: center; */
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #topGraph > .area {
        flex-basis: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .area.graph > img {
        width: 50%;
        height: auto;
        float: left;
    }

    #topGraph > li {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        justify-content: center;
    }

    .space {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgb(238, 238, 238) 0px 0px 15px 3px;
    }

    .space > li {
        width: 100%;
        height: auto;
    }

    .space > li > img {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 20px;
    }

    .space > li:nth-child(2) {
        flex-grow: 1;
        padding: 10px;
        box-sizing: border-box;
    }

    .spatitle {
        font-size: 1.5rem;
    }

    h3.lietTitle {
        font-size: 1.5rem;
        margin-top: 30px;
        font-weight: 600;
    }

    .lietTitle > span {
        color: rgb(5, 205, 130);
    }

    .space p {
        font-size: 16px;
        line-height: 24px;
    }

    #listImg {
        flex-basis: 70%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #listImg > li {
        width: 12.5%;
        height: auto;
        text-align: center;
        padding: 0.5rem;
        box-sizing: border-box;
    }


    #topGraph > li:first-child {
        border: none;
    }

    #topGraph > li {
        flex-basis: 40%;
        height: 400px;
        margin-bottom: 30px;
    }

    /*그래프의 공통상항*/
    .graph_com {
        width: 100%;
        height: 100%;
        float: left;
    }

    /*전체 이용자 수 증가 그래프*/
    #botGraph {
        width: 100%;
        height: 300px;
        float: left;
        background-color: #efefef;
    }

    #botGraph > li {
        width: 25%;
        height: 100%;
        float: left;
        border: 1px solid #fff;
        box-sizing: border-box;
    }


    /*구별 인터뷰*/
    #interview {
        height: 100vh;
        background: url(img/pattern.png);

    }

    #interview .wrap {
        overflow: hidden;
        position: relative;
    }

    #intBut {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        z-index: 99;
    }

    #intBut > li {
        width: 50px;
        height: auto;
        float: left;
    }

    #intBut > li > img {
        width: 70%;
        height: auto;
        float: left;
        cursor: pointer;
    }

    #intBut > li.intRight {
        float: right;
    }

    #topInt {
        width: 200%;
        height: auto;
        float: left;
        margin-top: 10vh;
        padding: 50px;
        box-sizing: border-box;
        position: relative;
    }

    #topInt > li {
        width: 50%;
        height: 275px;
        float: left;
        position: relative;
    }

    #topInt .symbol {
        width: auto;
        height: auto;
        float: left;
        margin-left: 20px;
        margin-top: 40px;
    }

    #topInt span {
        font-size: 18px;
        line-height: 27px;
    }

    .symbolImg {
        width: 80%;
        height: 100%;
        float: left;
    }

    .symbolImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    /*인터뷰 말풍선*/
    .intBubble,
    .intBubble2 {
        width: 80%;
        height: 80%;
        background: white;
        border: 10px solid #88b7d5;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
        float: left;
    }

    .intBubble:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        border-color: rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: #88b7d5;
        border-width: 30px;
        margin-top: -30px;
    }

    .intBubble2:after {
        left: -7%;
        top: 50%;
        border: solid transparent;
        content: " ";
        border-color: rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #88b7d5;
        border-width: 30px;
        margin-top: -30px;
    }

    /*직원소개*/
    #employee {
        width: 100%;
        height: 650px;
        float: left;
        display: flex;
        flex-direction: column;
        background-color: #262a33;
    }

    #employee > h3.title {
        color: #efefef;
    }

    /*직원소개 첫번째 제안*/
    #emlist {
        margin-top: 40px;
        width: 100%;
        height: 280px;
        float: left;
    }

    #emlist > li {
        width: 25%;
        height: 100%;
        float: left;
        position: relative;
    }

    .emCir {
        width: 255px;
        height: 255px;
        overflow: hidden;
        border-radius: 125px;
        border: 1px solid black;
        box-sizing: border-box;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        cursor: pointer;
    }

    .closeCir {
        width: 50%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .c_left {
        left: 0;
    }

    .c_right {
        right: 0;
    }

    /*직원 소개 두번째 제안*/
    #emplist {
        width: 1070px;
        height: 320px;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    #emplist > li {
        width: 230px;
        height: 100%;
        border: 1px solid #efefef;
        box-sizing: border-box;
        background-color: white;
    }

    .empImg {
        width: 100%;
        height: 140px;
        float: left;
        background-color: #efefef;
    }

    .empImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .empText {
        width: 100%;
        height: 180px;
        padding: 10px;
        box-sizing: border-box;
        float: left;
    }

    .empText > p,
    .empText > h3 {
        width: 100%;
        float: left;
        margin: 0;
        margin-bottom: 10px;
    }

    .major {
        font-size: 15px;
    }

    .emName {
        font-size: 20px;
    }

    .emInt {
        font-size: 15px;
    }

    #link {
        width: 100%;
        height: auto;
        float: left;
    }

    /*링크의 첫 번재 제안*/
    #linkIcon {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 10px;
    }

    #linkIcon > li {
        width: 100px;
        height: 100px;
        margin-right: 450px;
        float: left;
        position: relative;
        cursor: pointer;
    }

    .bubble {
        width: 310px;
        height: 100px;
        background-color: pink;
        position: absolute;
        top: 0;
        left: 100px;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        display: none;
    }

    .bubble > p {
        margin-bottom: 0;
    }

    .bubble::after {
        position: absolute;
        top: 50%;
        left: -20px;
        content: '';
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid pink;
        box-sizing: border-box;
    }

    .bubble.right {
        left: -310px;
    }

    .bubble.right::after {
        position: absolute;
        top: 50%;
        left: 100%;
        content: '';
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 10px solid pink;
        box-sizing: border-box;
    }

    #linkIcon > li:last-child {
        margin-right: 0;
    }

    #linkIcon > li > img {
        width: 100%;
        height: auto;
        float: left;
    }

    /*링크 두번째 제안*/
    #linkWra {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    #linkWra > li {
        width: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linkImg {
        width: 100%;
        height: 110px;
    }

    #linkWra > li > p {
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 20px;
    }

    .linkImg > img {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }

    section {
        width: 100%;
        height: auto;
        float: left;
    }

    /*각 섹션 타이틀*/
    h3.title {
        width: 100%;
        height: auto;
        text-align: center;
        float: left;
        margin-top: 110px;
        font-size: 30px;
        font-weight: 400;
    }

    /*footer*/
    footer {
        width: 100%;
        height: 260px;
        background-color: #333;
        float: left;
    }

    #foot {
        width: 100%;
        height: 260px;
        float: left;
        padding-top: 30px;
        box-sizing: border-box;
    }

    /*풋터의 글자색*/
    #foot * {
        color: white;
    }

    #footSide {
        width: 400px;
        height: 30px;
        float: left;
        line-height: 30px;
    }

    #footSide > li {
        width: auto;
        height: 30px;
        float: left;
        margin-right: 20px;
    }

    #footSide > li > a {
        display: block;
        width: 100%;
        text-align: left;
        line-height: 30px;
        float: left;
    }

    address {
        display: block;
        margin-top: 30px;
        font-style: normal;
        width: 100%;
        float: left;
    }

    #fotImg {
        width: 120px;
        height: 48px;
        margin-top: 30px;
    }

    #fotImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    /*1200이상일때 보이지 말아야 할것*/
    #nt_ham,
    #mb_nav,
    #mb_mask,
    #mb_intMid,
    #mb_graph,
    #mb_interview,
    #mbLink {
        display: none;
    }
}

@media all and (max-width:1209px) and (min-width:701px) {
    .nt_display {
        display: none;
    }

    .wrap {
        width: 100%;
        height: auto;
    }

    section {
        width: 100%;
        height: auto;
        float: left;
    }

    /*테블릿 타이틀*/
    h3.title {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 15px 0;
        font-size: 30px;
    }

    /*테블릿 네비바*/
    nav {
        width: 100%;
        height: 48px;
        float: left;
        position: fixed;
        z-index: 999;
        background-color: #efefef;
    }

    #logo {
        width: 120px;
        height: auto;
        margin: 0;
        float: left;
    }

    #logo > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #nt_ham {
        display: none;
    }

    #mb_nav {
        width: 75%;
        height: 100%;
        display: flex;
    }

    #mb_nav > li {
        flex-grow: 1;
        height: 100%;
        float: left;
    }

    #mb_nav > li > a {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        float: left;
    }

    /*테블릿 배너 스와이퍼*/

    #ban {
        margin-top: 48px;
    }

    #mb_mask {
        width: 100%;
        height: 60vw;
        float: left;
        text-align: center;
        line-height: 800px;
        position: relative;
    }

    .banTitle {
        width: 100%;
        font-size: 50px;
        text-align: center;
        color: white;
        height: 70px;
        line-height: 70px;
        font-weight: 600;
        position: absolute;
        font-weight: 500;
        text-shadow: 1px 1px 1px #333;
        top: 50%;
        left: 50%;
        z-index: 99;
        transform: translate(-50%, -25vh);
    }

    .banTitle > span {
        color: aquamarine;
    }

    .mb_mark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    #mb_mask img {
        width: 100%;
        height: auto;
        float: left;
    }


    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*테블릿 자기 소개*/
    #mb_intMid {
        width: 100%;
        height: 550px;
        float: left;
        position: relative;
        box-sizing: border-box;
    }

    #half {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: #292929;
    }

    #half > li {
        flex-grow: 1;
        flex-basis: 50%;
        box-sizing: border-box;
        position: relative;
    }

    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 40vw;
        position: absolute;
        top: -25px;
        left: 15px;
        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .intImg {
        width: 80%;
        height: 40vw;
        position: absolute;
        border: 5px solid #05cc82;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        ;
        box-sizing: border-box;
    }

    .intTe {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .intTe > li {
        width: 100%;
        height: auto;
    }

    .intTe * {
        color: #efefef;
        text-align: left;
    }

    .intTe h3.title {
        width: 100%;
        height: 50px;
        float: left;
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        position: relative;
    }

    .intTe h3.title::after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: aqua;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .intTe > li:nth-child(2) {
        padding: 20px;
        box-sizing: border-box;
    }

    #mb_sub_int {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        box-sizing: border-box;
        text-align: left;
        font-size: 20px;
    }

    /*  #mb_intMid > img {
        display: block;
        width: 40%;
        height: auto;
        margin: 0 auto;

    }*/

    /*타이틀*/
    /*#mb_intMid > .mb_title {
        width: 100%;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        margin-top: 30px;
    }*/

    /*자세히보기*/
    #mb_more {
        margin: 30px auto;
        display: block;
    }

    /*테블릿 자기 소개 글*/
    /*#mb_sub_int {
        width: 85%;
        height: 200px;
        border: 1px solid black;
        box-sizing: border-box;
        margin: 30px auto;
        text-align: left;
        font-size: 22px;
        overflow-y: scroll;
    }*/

    /*부릉 그래프*/
    #mb_graph {
        width: 100%;
        height: 70vw;
        float: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #mb_graph > li {
        width: 50%;
        height: 50%;
        float: left;
        border: 1px solid cyan;
        box-sizing: border-box;
        position: relative;
    }

    .mb_sub_title {
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0;
    }

    #mb_graph > li > img {
        width: 75%;
        height: auto;
        float: left;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .mb_graph_com {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    /*테블릿 인터뷰*/
    #mb_interview {
        width: 100%;
        height: 50vw;
        float: left;
        position: relative;
    }

    #mb_pag {
        width: 90px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        z-index: 9;
        justify-content: space-around;
    }

    #mb_pag > li {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
        background-color: cadetblue;
        text-align: center;
        cursor: pointer;
    }

    #mb_pag > li.on {
        background-color: aquamarine;
    }

    #mb_int_wrap {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    #mb_int_wrap > li {
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #mb_int_wrap > li:nth-child(1) {
        display: block;
    }

    #mb_int_wrap > li > img {
        width: 100%;
        height: 100%;
        float: left;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mb_int_bub {
        width: 90%;
        height: 90%;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 3%;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        position: relative;
        font-size: 24px;
    }


    .mb_int_bub > span {
        font-size: 20px;
        display: block;
        text-align: left;
        margin-top: 10px;
        line-height: 25px;
    }

    .mb_int_bub > img {
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0.5;
    }

    /*테블릿 직원리스트*/
    #emlist {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .closeCir {
        display: none;
    }

    #emplist {
        flex-basis: 800px;
        height: auto;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #emplist > li {
        flex-basis: 350px;
        height: auto;
        border: 1px solid #efefef;
        box-sizing: border-box;
        background-color: white;
    }

    #emplist > li:nth-child(3),
    #emplist > li:nth-child(4) {
        margin-top: 20px;
    }


    .empImg {
        width: 100%;
        height: auto;
        float: left;
        background-color: #efefef;
    }

    .empImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .empText {
        width: 100%;
        height: auto;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }

    .empText > p,
    .empText > h3 {
        width: 100%;
        float: left;
        margin: 0;
        margin-top: 10px;
    }

    .major {
        font-size: 15px;
        display: none;
    }

    .emName {
        font-size: 25px;
    }

    .emInt {
        font-size: 15px;
    }

    /*#emlist > li {
        width: 50%;
        height: 100%;
        float: left;
        border: 1px solid cyan;
        padding: 20px;
        box-sizing: border-box;
    }

    .emCir {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .emCir > img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }*/

    /*테블릿 링크*/
    #mbLink {
        width: 80%;
        height: auto;
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #mbLink > li {
        flex-basis: 120px;
        height: auto;
        position: relative;
    }

    #mbLink > li > img {
        width: 80%;
        height: auto;
        float: left;
    }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 999;
        left: -12px;
    }



    /*테블릿 네비바에서 나오는 링크*/
    #modalWrap {
        width: 100%;
        height: 50vh;
        float: left;
        position: relative;
    }

    #mbLinkMod {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    #mbLinkMod > li {
        width: 23%;
        height: auto;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    #mbLinkMod > li > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .bubble {
        display: none;
    }

    /*모바일 풋터*/
    footer {
        width: 100%;
        height: 100px;
        float: left;
        background-color: pink;
        margin-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    address {
        font-size: 14px;
        font-style: normal;
        text-align: center;
        margin-top: 20px;
        position: relative;
    }

    #fotImg {
        width: 100px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;

    }

    #fotImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

}

@media all and (max-width:700px) {
    .wrap {
        width: 100%;
        height: auto;
    }

    section {
        width: 100%;
        height: auto;
        float: left;
    }

    /*클래스이름으로 우선 1200이상에 보이는 것 삭제*/
    .nt_display {
        display: none;
    }

    /*모바일 타이틀*/
    h3.title {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 15px 0;
        font-size: 26px;
    }

    /*모바일 네비바*/
    nav {
        width: 100%;
        height: auto;
        float: left;
        position: fixed;
        z-index: 999;
        background-color: #efefef;
    }

    #logo {
        width: 120px;
        height: auto;
        margin: 0;
        float: left;
    }

    #logo > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #nt_ham {
        width: 48px;
        height: 48px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
    }

    #nt_ham > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #mb_nav {
        width: 100%;
        height: auto;
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #12c844;
    }

    #mb_nav > li {
        width: 100%;
        height: 10vh;
        line-height: 10vh;
        text-align: center;
    }

    #mb_nav > li > a {
        display: block;
        font-size: 20px;
        color: #efefef;
    }


    /*모바일 배너 스와이퍼*/

    #ban {
        margin-top: 48px;
    }

    #mb_mask {
        width: 100%;
        height: 400px;
        float: left;
        text-align: center;
        line-height: 800px;
    }

    #mb_mask img {
        width: 100%;
        height: auto;
        float: left;
    }

    .mb_mark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        display: flex;

        justify-content: center;

        align-items: center;
    }

    /*모바일 자기 소개*/
    #mb_intMid {
        width: 100%;
        height: 500px;
        float: left;
        position: relative;
        border: 1px solid black;
        box-sizing: border-box;
    }

    #half {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: #292929;
    }

    #half > li {
        flex-grow: 1;
        flex-basis: 50%;
        box-sizing: border-box;
        position: relative;
    }

    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 45vw;
        position: absolute;
        background-color: #efefef;
        top: -25px;
        left: 15px;

        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .intImg {
        width: 90%;
        height: 45vw;
        position: absolute;
        border: 5px solid #05cc82;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    .intTe {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .intTe > li {
        width: 100%;
        height: auto;
    }

    .intTe * {
        color: #efefef;
        text-align: left;
    }

    .intTe h3.title {
        width: 100%;
        height: 50px;
        float: left;
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        position: relative;
    }

    .intTe h3.title::after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: aqua;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .intTe > li:nth-child(2) {
        padding: 3vw;
        box-sizing: border-box;
    }

    #mb_intMid > img {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto;

    }

    /*타이틀*/
    .mb_title {
        width: 100%;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        font-weight: 600;
        text-align: center;
    }

    /*자세히보기*/
    #mb_more {
        margin: 30px auto;
        display: block;
    }

    /*모바일 자기 소개 글*/
    #mb_sub_int {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        box-sizing: border-box;
        text-align: left;
        font-size: 20px;
    }

    /*부릉 그래프*/
    #mb_graph {
        width: 100%;
        height: 70vw;
        float: left;
    }

    #mb_graph > li {
        width: 50%;
        height: 50%;
        float: left;
        border: 1px solid cyan;
        box-sizing: border-box;
        position: relative;
    }

    .mb_sub_title {
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0;
    }

    #mb_graph > li > img {
        width: 75%;
        height: auto;
        float: left;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .mb_graph_com {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    /*모바일 인터뷰*/
    #mb_interview {
        width: 100%;
        height: 50vw;
        float: left;
        position: relative;
    }

    #mb_int_wrap {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    #mb_int_wrap > li {
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }

    #mb_int_wrap > li > img {
        width: 100%;
        height: 100%;
        float: left;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }

    #mb_int_wrap span {
        display: block;
        font-size: 20px;
        text-align: left;
        line-height: 25px;
        margin-top: 10px;
    }

    .mb_int_bub {
        width: 90%;
        height: 80%;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 3%;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        position: relative;
        font-size: 24px;
        overflow-y: scroll;
    }

    .mb_int_bub > img {
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0.5;
    }

    #mb_pag {
        width: 90px;
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        z-index: 9;
        justify-content: space-around;
    }

    #mb_pag > li {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
        background-color: cadetblue;
        text-align: center;
        cursor: pointer;
    }

    #mb_pag > li.on {
        background-color: aquamarine;
    }

    /*모바일 직원리스트*/
    #employee > .title {
        margin-top: 30px;
    }

    #emplist {
        flex-basis: 800px;
        height: auto;
        flex-wrap: wrap;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    #emplist > li {
        flex-basis: 300px;
        height: 320px;
        border: 1px solid #efefef;
        box-sizing: border-box;
        background-color: white;
        margin-top: 20px;
    }

    .empImg {
        width: 100%;
        height: auto;
        float: left;
        background-color: #ffccff;
    }

    .empImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .empText {
        width: 100%;
        height: auto;
        float: left;
        padding: 1vw;
        box-sizing: border-box;
    }

    .empText > p,
    .empText > h3 {
        width: 100%;
        float: left;
        margin: 0;
        margin-top: 10px;
    }

    .major {
        font-size: 15px;
        display: none;
    }

    .emName {
        font-size: 25px;
    }

    .emInt {
        font-size: 15px;
    }

    /*#emlist {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .closeCir {
        display: none;
    }

    #emlist > li {
        width: 50%;
        height: 100%;
        float: left;
        border: 1px solid cyan;
        padding: 20px;
        box-sizing: border-box;
    }

    .emCir {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .emCir > img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }*/

    /*모바일 링크*/
    #mbLink {
        width: 80%;
        height: auto;
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #mbLink > li {
        flex-basis: 120px;
        height: auto;
        position: relative;
    }

    #mbLink > li > img {
        width: 80%;
        height: auto;
        float: left;
    }

    #mbLink > li:first-child {
        margin-left: 5%;
    }

    #mbLink > li:last-child {
        margin: 0;
    }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 999;
        left: -12px;
    }

    /*모바일 네비바에서 나오는 링크*/
    #modalWrap {
        width: 100%;
        height: 50vh;
        float: left;
        position: relative;
    }

    #mbLinkMod {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    #mbLinkMod > li {
        width: 23%;
        height: auto;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    #mbLinkMod > li > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .bubble {
        display: none;
    }

    /*모바일 풋터*/
    footer {
        width: 100%;
        height: 100px;
        float: left;
        background-color: pink;
        margin-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    address {
        font-size: 14px;
        font-style: normal;
        text-align: center;
        margin-top: 20px;
        position: relative;
    }

    #fotImg {
        width: 100px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;

    }

    #fotImg > img {
        width: 100%;
        height: auto;
        float: left;
    }
}
