/*기본적인 세팅*/
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

ul,
li,
ol {
    list-style: none;
}

img {
    border: 0;
}

#alwaysDis {
    width: auto;
    height: 50px;
    overflow: hidden;
    position: fixed;
    left: 85%;
    bottom: 30px;
    z-index: 999;
}

#alwaysDis > li {
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
}

#alwaysDis img {
    width: 100%;
    height: auto;
}

/*문의하기 작성하기*/
#form {
    width: 100%;
    height: 210px;
    position: fixed;
    z-index: 99;
    top: 80px;
    /*차후에 fixed*/
    display: none;
    box-sizing: border-box;
}

#form::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#form form {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #efefef;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 20vh;
}

#close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: 20px;
}

#titWrap {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
}
#formWrap {
    width: 80%;
    height: 80px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#formWrap > li {
    align-items: center;
    justify-content: space-between;
}

#formWrap > li:first-child {
    width: 300px;
}

#formWrap > li:last-child {
    width: 600px;
}

#formWrap input {
    border: 1px solid #efefef;
    height: 30px;
    width: 45%;
}

#leftForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#leftForm > input:first-child {
    width: 100%;
}

#rightForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#rightForm > input {
    width: 23%;
    flex-basis: 1;
}

#rightForm > input:nth-child(5),
#rightForm > input:nth-child(6) {
    width: 48%;
}

#submit {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
    float: left;
    margin-left: 30px;
    background-color: #05cd82;
    color: #efefef;
    border: 0;
    font-size: 18px;
}


/*화면 해상도 1200px까지 레이아웃*/
@media all and (min-width:1210px) {
    .wrap {
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }

    /* 네비바*/
    header {
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 999;
        background-color: rgba(255, 255, 255, 1);
    }

    nav {
        width: 100%;
        height: 80px;
        float: left;
    }

    #logo {
        width: 200px;
        height: auto;
        float: left;
    }

    #nav {
        overflow: hidden;
        height: 60px;
        float: left;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #nav > li {
        width: auto;
        height: 100%;
        float: left;
        line-height: 60px;
        position: relative;
        margin-right: 25px;
    }

    #nav > li:last-child {
        margin: 0;
    }

    #nav > li::after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        top: 90%;
        left: 0;
        transition-duration: 0.5s;
        background-color: #33ff33;
    }

    #nav > li:hover::after {
        width: 100%;
    }

    #nav > li > a {
        display: block;
        font-size: 24px;
        text-align: center;
    }

    /*배너*/
    #ban {
        margin-top: 80px;
        height: 80vh;
    }

    /*세로길이 전체 배너 1*/
    #mask.one {
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }

    /*세로길이 절반 배너2*/
    #mask {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }

    #banWrap {
        width: 400%;
        height: auto;
        float: left;
        position: relative;
        top: 0;
        left: 0;
    }

    #banWrap::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #333;
        opacity: 0.3;
        left: 0;
    }

    #banWrap > li {
        width: 25%;
        height: 100%;
        float: left;
    }

    /*세로길이 전체 배너 1*/
    #banWrap.one > li > img {
        width: 100%;
        height: auto;
        float: left;
        transform: translate(0)
    }

    /*세로길이 절반 배너 2*/
    #banWrap > li > img {
        width: 100%;
        height: auto;
        float: left;
        /*transform: translateY(-30%);*/
    }

    #maskMark {
        width: 100%;
        height: auto;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    .banTitle {
        font-size: 50px;
        text-align: center;
        color: white;
        height: 70px;
        line-height: 70px;
        font-weight: 600;
        position: absolute;
        font-weight: 500;
        text-shadow: 1px 1px 1px #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -280px);
    }

    .banTitle > span {
        color: aquamarine;
    }

    /*세로 길이 전체 배너1*/
    #maskMark.one > img {
        width: 85%;
        height: auto;
        float: left;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*세로 길이 절반 배너2*/
    #maskMark > img {
        width: 1000px;
        height: auto;
        float: left;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #butWrap {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    #b_left {
        position: absolute;
        left: 10px;
    }

    #b_right {
        position: absolute;
        right: 10px;
    }

    .banBut {
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }


    /*자기소개*/
    #scroll {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 99;
    }

    #scroll > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #introduce {
        position: relative;
        background-color: #222;
    }

    #intMid {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 80px;
    }

    #intMid > li.intI {
        width: 570px;
    }

    #intMid > li {
        width: 630px;
        height: 600px;
        float: left;
        margin-top: 30px;
        position: relative;
    }

    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
        top: -65px;
        left: 55px;
    }

    .intImg {
        width: 66%;
        height: 75%;
        position: absolute;
        border: 10px solid #05cc82;
        left: 60px;
        top: 120px;
        box-sizing: border-box;
    }

    .intTe {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 125px;
    }

    .intTe > li {
        width: 100%;
        border: 1px solid black;
        height: 50px;
    }

    .intTe * {
        color: #efefef;
        text-align: left;
    }

    .intTe h3.title {
        width: 100%;
        height: auto;
        float: left;
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        position: relative;
    }

    .intTe h3.title::after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: aqua;
        position: absolute;
        top: 50px;
        left: 0;
    }

    /*부릉이란 그래프*/
    #topGraph {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        margin-top: 30px;
        /* align-items: center; */
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #topGraph > .area {
        flex-basis: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .area.graph > img {
        width: 50%;
        height: auto;
        float: left;
    }
    #topGraph > li {
        width: 100%;
        height: auto;
        float: left;
        display: flex;
        justify-content: center;
    }

    .space {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgb(238, 238, 238) 0px 0px 15px 3px;
    }

    .space > li {
        width: 100%;
        height: auto;
    }
    .space > li:last-child{
        padding: 10px;
    }

    .space > li > img {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 20px;
    }
    .spatitle {
        font-size: 1.5rem;
    }

    h3.lietTitle {
        font-size: 1.5rem;
        margin-top: 30px;
        font-weight: 600;
    }

    .lietTitle > span {
        color: rgb(5, 205, 130);
    }

    .space p {
        font-size: 16px;
        line-height: 24px;
    }

    #listImg {
        flex-basis: 70%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #listImg > li {
        width: 12.5%;
        height: auto;
        text-align: center;
        padding: 0.5rem;
        box-sizing: border-box;
    }


    #topGraph > li:first-child {
        border: none;
    }

    #topGraph > li {
        flex-basis: 40%;
        height: 400px;
        margin-bottom: 30px;
    }

    /*그래프의 공통상항*/
    .graph_com {
        width: 100%;
        height: 100%;
        float: left;
    }

    /*전체 이용자 수 증가 그래프*/
    #botGraph {
        width: 100%;
        height: 300px;
        float: left;
        background-color: #efefef;
    }

    #botGraph > li {
        width: 25%;
        height: 100%;
        float: left;
        border: 1px solid #fff;
        box-sizing: border-box;
    }


    /*구별 인터뷰*/
    #interview {
        height: 85vh;
        margin-bottom: 30px;
    }

    #interview video {
        width: 100%;
        height: auto;
    }

    #interview .title {
        margin-bottom: 30px;
    }

    #tab > a.item {
        width: 50%;
        display: block;
        text-align: center;
    }

    .intSpace {
        height: 570px;
    }

    .slice {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    .slice > li {
        width: 30%;
        height: 100%;
        float: left;
    }

    .slice > li:first-child {
        width: 70%;
        padding: 10px;
        font-size: 16px;
        line-height: 24px;
        border-right: 1px solid #efefef;
        box-sizing: border-box;
    }

    .ui.header.intTit {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-weight: 300;
        color: darkcyan;
    }

    .host {
        width: 140px;
        height: 60px;
        text-align: center;
        padding: 10px 30px;
        box-sizing: border-box;
        background-color: #b5cc18;
        color: #fff;
        border-radius: 15px;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 9;
    }

    #intWrap {
        width: 80%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }

    /*직원소개*/
    #employee {
        width: 100%;
        height: 650px;
        float: left;
        display: flex;
        flex-direction: column;
        background-color: #262a33;
    }

    #employee > h3.title {
        color: #efefef;
    }

    /*직원소개 첫번째 제안*/
    #emlist {
        margin-top: 40px;
        width: 100%;
        height: 280px;
        float: left;
    }

    #emlist > li {
        width: 25%;
        height: 100%;
        float: left;
        position: relative;
    }

    .emCir {
        width: 255px;
        height: 255px;
        overflow: hidden;
        border-radius: 125px;
        border: 1px solid black;
        box-sizing: border-box;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        cursor: pointer;
    }

    .closeCir {
        width: 50%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .c_left {
        left: 0;
    }

    .c_right {
        right: 0;
    }

    /*직원 소개 두번째 제안*/
    #emplist {
        width: 1070px;
        height: 320px;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    #emplist > li {
        width: 230px;
        height: 100%;
        border: 1px solid #efefef;
        box-sizing: border-box;
        background-color: white;
    }

    .empImg {
        width: 100%;
        height: 140px;
        float: left;
        background-color: #efefef;
    }

    .empImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .empText {
        width: 100%;
        height: 180px;
        padding: 10px;
        box-sizing: border-box;
        float: left;
    }

    .empText > p,
    .empText > h3 {
        width: 100%;
        float: left;
        margin: 0;
        margin-bottom: 10px;
    }

    .major {
        font-size: 15px;
    }

    .emName {
        font-size: 20px;
    }

    .emInt {
        font-size: 15px;
    }

    #link {
        width: 100%;
        height: auto;
        float: left;
    }

    /*링크의 첫 번재 제안*/
    #linkIcon {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 10px;
    }

    #linkIcon > li {
        width: 100px;
        height: 100px;
        margin-right: 450px;
        float: left;
        position: relative;
        cursor: pointer;
    }

    #linkIcon > li:last-child {
        margin-right: 0;
    }

    #linkIcon > li > img {
        width: 100%;
        height: auto;
        float: left;
    }

    /*링크 두번째 제안*/
    #linkWra {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    #linkWra > li {
        width: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linkImg {
        width: 100%;
        height: 110px;
    }

    #linkWra > li > p {
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 20px;
    }

    .linkImg > img {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }

    section {
        width: 100%;
        height: auto;
        float: left;
    }

    /*각 섹션 타이틀*/
    h3.title {
        width: 100%;
        height: auto;
        text-align: center;
        float: left;
        margin-top: 110px;
        font-size: 30px;
        font-weight: 400;
    }

    /*footer*/
    footer {
        width: 100%;
        height: 260px;
        background-color: #333;
        float: left;
    }

    #foot {
        width: 100%;
        height: 260px;
        float: left;
        padding-top: 30px;
        box-sizing: border-box;
    }

    /*풋터의 글자색*/
    #foot * {
        color: white;
    }

    #footSide {
        width: 400px;
        height: 30px;
        float: left;
        line-height: 30px;
    }

    #footSide > li {
        width: auto;
        height: 30px;
        float: left;
        margin-right: 20px;
    }

    #footSide > li > a {
        display: block;
        width: 100%;
        text-align: left;
        line-height: 30px;
        float: left;
    }

    address {
        display: block;
        margin-top: 30px;
        font-style: normal;
        width: 100%;
        float: left;
    }

    #fotImg {
        width: 120px;
        height: 48px;
        margin-top: 30px;
    }

    #fotImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    /*1200이상일때 보이지 말아야 할것*/
    #nt_ham,
    #mb_nav,
    #mb_mask,
    #mb_intMid,
    #mb_graph,
    #mb_interview,
    #mbLink {
        display: none;
    }
}

@media all and (max-width:1209px) and (min-width:701px) {
    .area.graph > img {
        width: 50%;
        height: auto;
        float: left;
    }

    #topGraph > li {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        flex-basis: 40%;
        height: 400px;
        margin-bottom: 30px;
    }

    .space {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgb(238, 238, 238) 0px 0px 15px 3px;
    }

    .space > li:nth-child(2) {
        flex-grow: 1;
        padding: 10px;
        box-sizing: border-box;
    }

    h3.lietTitle {
        font-size: 1.5rem;
        margin-top: 30px;
        font-weight: 600;
    }

    .lietTitle > span {
        color: rgb(5, 205, 130);
    }

    #listImg {
        width: 130%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #listImg > li {
        width: 12.5%;
        height: auto;
        text-align: center;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    /*부릉 그래프*/
    /*테블릿 타이틀*/
    h3.title {
        font-size: 30px;
    }

    /*테블릿 네비바*/
    nav {
        width: 100%;
        height: 48px;
        float: left;
        position: fixed;
        z-index: 999;
        background-color: #efefef;
        top: 0;
    }

    #nt_ham {
        display: none;
    }

    #mb_nav {
        width: 75%;
        height: 100%;
        display: flex;
    }

    #mb_nav > li {
        flex-grow: 1;
        height: 100%;
        float: left;
    }

    #mb_nav > li > a {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        float: left;
    }

    /*테블릿 배너 스와이퍼*/
    #mb_mask {
        height: 60vw;
    }

    .banTitle {
        font-size: 3rem;
        font-weight: 500;
    }

    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 40vw;
        position: absolute;
        top: -25px;
        left: 15px;
        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .intImg {
        width: 80%;
        height: 40vw;
        position: absolute;
        border: 5px solid #05cc82;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        ;
        box-sizing: border-box;
    }

    /*테블릿 직원리스트 차후에 필요시*/
    #emplist > li {
        flex-basis: 350px;
        height: auto;
        border: 1px solid #efefef;
        box-sizing: border-box;
        background-color: white;
    }

    #emplist > li:nth-child(3),
    #emplist > li:nth-child(4) {
        margin-top: 20px;
    }

    .empImg {
        width: 100%;
        height: auto;
        float: left;
        background-color: #efefef;
    }

    .empImg > img {
        width: 100%;
        height: auto;
        float: left;
    }

    .empText {
        width: 100%;
        height: auto;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }

    .empText > p,
    .empText > h3 {
        width: 100%;
        float: left;
        margin: 0;
        margin-top: 10px;
    }

    .major {
        font-size: 15px;
        display: none;
    }

    .emName {
        font-size: 25px;
    }

    .emInt {
        font-size: 15px;
    }
}

@media all and (max-width:700px) {

    /*모바일 타이틀*/
    h3.title {
        font-size: 26px;
    }

    /*모바일 네비바*/
    nav {
        width: 100%;
        height: auto;
        float: left;
        position: fixed;
        z-index: 999;
        background-color: #efefef;
    }

    #nt_ham {
        width: 48px;
        height: 48px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
    }

    #nt_ham > img {
        width: 100%;
        height: auto;
        float: left;
    }

    #mb_nav {
        width: 100%;
        height: auto;
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #12c844;
    }

    #mb_nav > li {
        width: 100%;
        height: 10vh;
        line-height: 10vh;
        text-align: center;
    }

    #mb_nav > li > a {
        display: block;
        font-size: 20px;
        color: #efefef;
    }

    #mb_mask {
        height: 400px;
    }

    .banTitle {
        font-size: 5.5vw;
        font-weight: 500;
    }

    /*모바일 자기 소개*/
    .intImg::before {
        content: "";
        display: block;
        width: 100%;
        height: 45vw;
        position: absolute;
        background-color: #efefef;
        top: -25px;
        left: 15px;
        background: url(img/sam.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .intImg {
        width: 90%;
        height: 45vw;
        position: absolute;
        border: 5px solid #05cc82;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    #mb_intMid > img {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    /*타이틀*/
    .mb_title {
        width: 100%;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        font-weight: 600;
        text-align: center;
    }

    #topGraph > li {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        flex-basis: 70%;
        height: 400px;
        margin-bottom: 30px;
    }

    .area.graph > img {
        width: 50%;
        height: auto;
        float: left;
    }

    .space {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgb(238, 238, 238) 0px 0px 15px 3px;
    }

    .area.list > p {
        text-align: center;
        padding: 0 5rem;
        box-sizing: border-box;
    }

    .area.list > .lietTitle {
        font-size: 1.5rem;
        margin-top: 30px;
        font-weight: 600;
    }

    .lietTitle > span {
        color: rgb(5, 205, 130);
    }

    #listImg {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #listImg > li {
        flex-grow: 1;
        height: auto;
        text-align: center;
        padding: 0.5rem;
        box-sizing: border-box;
    }
}
